.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* header style */
.header{
  background-color: rgb(90, 76, 149);
  height: 100px;
}
.cart{
  float: right;
  margin: 30px;
  position: relative;
}
.cart img{
  width: 30px;
}
.cart span{
  background-color: rgb(203, 229, 11);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position:absolute;
  top:-10px;
  right:0px;
  color: rgb(251, 9, 9);
  font-size: 20px;
  font-weight: 600;
}

/* end header style */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}